@tailwind base;
@tailwind components;
@tailwind utilities;


/* - Very Dark Gray: hsl(0, 0%, 17%)
- Dark Gray: hsl(0, 0%, 59%) */
/* body {
    height: 100vh;
    width: 100vw;
    font-size: 19px;
}

div > h3 {
    color: hsl(0, 0%, 59%);
}

div > p {
    font-size: bold;
    color: hsl(0, 0%, 17%);
}
 */

.leafletContainer {
    height: 70vh;
    width: 100vw;
    z-index: 1;
}